<header>
  <img src="/frontEnd/images/logo-tecnoeco.PNG" alt="TecnoEco" height="80px">

  <nav>
    <ul>
      <li><a href="../pages/index.html">Início</a></li>
      <li id="menu-evento"><a href="/frontEnd/pages/CriarEvento.html">Criar Evento</a></li>
      <li><a href="../pages/recompensa.html">Recompensa</a></li>
      <li><a href="../pages/perfil.html">Perfil</a></li>
    </ul>
  </nav>

  <div class="icone-login">
    <a href="/frontEnd/pages/telaLogin.html" class="text-transparent">
      <i class="bi bi-person"></i> Login
    </a>
  </div>
</header>
