body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f9fb;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 80px;
  height: 80px;
  background-color: #eee;
  border-radius: 50%;
}

.profile-info {
  flex: 1;
  margin-left: 20px;
}

.profile-info h1 {
  margin: 0;
  font-size: 24px;
}

.email {
  color: #666;
  margin: 4px 0 12px;
}

.stats .badge {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 14px;
}

.green {
  background-color: #d4f5d2;
  color: #2e7d32;
}

.blue {
  background-color: #e0e7ff;
  color: #1e40af;
}

.purple {
  background-color: #f3e8ff;
  color: #7e22ce;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  
}

.btn.qr {
  background-color: #2e7d32;
}

.btn.create {
  background-color: #2e7d32;
}

.tabs {
  display: flex;
  margin-top: 30px;
  border-bottom: 2px solid #e0e0e0;
}

.tab {
  flex: 1;
  padding: 12px;
  background-color: #2e7d32;
  color: white;
  text-align: center;
  border-radius: 6px;
  border: none;
  font-weight: bold;

}


.content {
  text-align: center;
  margin: 40px 0px;
}

.content p {
  color: #555;
  font-size: 16px;
  margin-bottom: 0px;
}

.btn.explore {
  background-color: #f1f5f9;
  color: #111;
  border: 1px solid #ccc;
  margin-top: 20px;
}




.eventos-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.evento-card {
  display: flex;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  max-width: 800px;
  margin: 15px auto;
}

.evento-img-container {
  width: 150px;
  height: 150px;
  background: #eee;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.evento-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.evento-info {
  padding: 16px;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.evento-titulo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #1a1a1a;
}

.evento-detalhes {
  color: #666;
  font-size: 14px;
  margin-bottom: 8px;
}

